{% extends "base_template.html" %}

{% block title %} 
    {% if post_id %}
    Modifying the post id {{ post_id }}
    {% else %}
    New post
    {% endif %} 
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}
        {{ form.title(size=255)}}
        {% for error in form.title.errors %} 
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.title_slug.label }} 
        {{ form.title_slug(size=255) }} <br>
        {% for error in form.title_slug.errors %} 
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.content.label }} 
        {{ form.content }} <br>
        {% for error in form.content.errors %} 
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        <label for="postImage">Imagen de cabecera:</label>
        <input type="file" id="postImage" name="post_image" accept="image/png, image/jpeg">
    </div>
    <div>{{ form.submit() }}</div>
</form>
{% if post %}
<form action="{{ url_for('admin.delete_post', post_id=post.id) }}" method="post" novalidate>
    <input type="submit" value="Eliminar" />
</form>
{% endif %}
{% endblock %}